# Maintainers
* @ourchitecture/panda-admins @ourchitecture/panda-maintainers

##################################################
# ADMIN: changes that trigger admin review
##################################################

# workflows
./.github/workflows/repo-test.* @ourchitecture/panda-admins
./.github/workflows/commitlint.* @ourchitecture/panda-admins

# github
./.github/settings.* @ourchitecture/panda-admins
./.github/CODEOWNERS @ourchitecture/panda-admins

# editor
./.vscode/extensions.* @ourchitecture/panda-admins
./.vscode/settings.* @ourchitecture/panda-admins
./.editorconfig @ourchitecture/panda-admins
./.editorconfig.* @ourchitecture/panda-admins

# git
./.gitignore @ourchitecture/panda-admins
./.gitignore.* @ourchitecture/panda-admins

# code formatting
./.prettierignore @ourchitecture/panda-admins
./.prettierrc.json @ourchitecture/panda-admins

# conventional commits
./commitlint.* @ourchitecture/panda-admins

# testing
./jest.* @ourchitecture/panda-admins

# licensing
./LICENSE.* @ourchitecture/panda-admins

# tasks
./makefile @ourchitecture/panda-admins
./package.* @ourchitecture/panda-admins
./.yarn/ @ourchitecture/panda-admins
./.yarnrc @ourchitecture/panda-admins
./yarn.lock
